/*GENERAL*/
:root {
    --header-height: 70px;
    --setBox-height: 200px;
    --setBox-width: 300px;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* APP HEADER START */
.app-header {
    height: var(--header-height);
}

/* APP HEADER END */

/* MAIN AREA START */
.main-area {
    height: calc(100vh - var(--header-height));
    flex: 1;
}

/* MAIN LEFT SIDE - START */

.blocks-panel {
    overflow-y: scroll;
}

.block {
    box-sizing: border-box;
    padding: 1rem;
}

/* MAIN LEFT SIDE - END */

/* DRAG AREA - START */

.drag-area {
    overflow: scroll;
}

.dragged-block {
    display: inline-block;
}

/* DRAG AREA - END */

/* MAIN RIGHT SIDE - START */

.dragged-blocks-list {
    height: 33%;
}

.dragged-blocks-list {
    overflow-y: auto;
    overflow-x: hidden;
}

.dragged-blocks-list-title {
    top: 0;
}

.one-dragged-block-section {
    text-wrap: nowrap;
}

/* MAIN RIGHT SIDE - END */

/* MAIN AREA END */

/* SET PARAMETERS BOX START*/

.set-parameters-box {
    top: calc(50% - (var(--setBox-height)/2));
    left: calc(50% - (var(--setBox-width)/2));
    width: var(--setBox-width);
    height: var(--setBox-height);
    z-index: 99;
    background-color: white;
}

.readonly {
    color: #e0e0e0;
}

/* SET PARAMETERS BOX END*/